@using OnlineShop.DB.Models;
@model User
<h2>Выберите изображение для @Model.UserName</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Загрузить изображение</label>
        <input type="file" name="formFile"/>
    </div>
    <hr />
    <div>
        <button type="submit" asp-area="" asp-controller="User" asp-action="EditUserImage" asp-route-Name="@Model.UserName" class="btn btn-success">Изменить</button>
    </div>
</form>
@if (ViewBag.Image != null)
{
        <h6>Текущее изображдение для @Model.UserName</h6>
                <div class="row">
                    <div class="col-3 card shadow">
                        <div class="card-body">
                            <img class="card-img-top col-3" src="@ViewBag.Image.Path">
                            <a asp-area="" asp-controller="User" asp-action="DeleteImage" asp-route-name="@Model.UserName" class="btn btn-danger">Удалить</a> 
                        </div>
                    </div>
                </div>
}
else
{
                <h2>Нет изображения для @Model.UserName</h2>
}