@model List<Order>
@{
    int i = 1;
}
<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("Index")
    </div>
    <div class="col-9">
        <h2>Список заказов</h2>
        <div class="row">
            <div class="col-1">№</div>
            <div class="col-1">Сумма</div>
            <div class="col-2">Статус</div>
            <div class="col-2">Пользователь</div>
            <div class="col-2">Дата</div>
            <div class="col-1">Время</div>
        </div>
<hr />
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-1">
                    <a asp-controller="Admin" asp-action="OrderInfo" asp-route-id="@item.Id1">@item.Id1</a>
                </div>
                <div class="col-1">
                    @item.Total
                </div>
                <div class="col-2">
                    @switch (item.Status)
                    {
                        case Status_Order.Created:
                            <text>Создан</text>
                            break;
                        case Status_Order.Processed:
                            <text>Обработан</text>
                            break;
                        case Status_Order.Delivering:
                            <text>В пути</text>
                            break;
                        case Status_Order.Canceled:
                            <text>Отменен</text>
                            break;
                        case Status_Order.Delivered:
                            <text>Доставлен</text>
                            break;
                        default:
                            break;
                    }
                    @item.Status   
                </div>
                <div class="col-2">
                        <a asp-controller="Admin" asp-action="OrderInfo" asp-route-id="@item.Id1">@item.Name</a>
                </div>
                <div class="col-2">
                    @item.CreationDate
                </div>
                <div class="col-1">
                    @item.CreationTime
                </div>
            </div>
            i += 1;
        }
    </div>
</div>
