@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

@if (Model == null || Model.Count == 0)
{
    <h1>Пустая корзина</h1>
}
else
{
<div class="row">
    <div class="col-3">Наименование</div>
    <div class="col-3">Описание</div>
    <div class="col-3">Количество</div>
    <div class="col-3">Стоимость</div>
    @foreach (var product in Model)
    {

        <div class="col-3">
            <a href="/product/index/@product.Id"><h2>@product.Name</h2></a>
        </div>
        <div class="col-3">
            <p>@product.Description</p>
        </div>
            <div class="col-3">
                <h2>@product.Count</h2>
            </div>
        <div class="col-3">
            <h2>@(@product.Cost * @product.Count)</h2>
        </div>

    }
</div>
<div class="row">
    <div class="btn btn-outline-success col-3">Оформить заказ</div>
    <div class ="col-3"></div>
    <div class="col-3">Итоговая сумма:</div>
    <div class="col-3">123</div>
</div>
}
<br>
<div class="col-3"><a href="/" class="btn btn-dark">Продолжить покупки</a></div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
