@{
    ViewData["Title"] = "Home Page";
}

@model Order


<form method="post">
    <label asp-for="Name">Введите имя и фамилию</label>
    <input asp-for="Name" placeholder="Иван Иванов" />
    <span asp-validation-for="Name"></span>
    <br />
    <br />
    <label asp-for="Number">Введите номер телефона</label>
    <input asp-for="Number" placeholder="8-888-888-88-88">
    <span asp-validation-for="Number"></span>
    <br />
    <br />
    <label asp-for="Email">Почта</label>
    <input asp-for="Email">
    <span asp-validation-for="Email"></span>
    <br />
    <br />
    <label asp-for="Address">Адрес</label>
    <input asp-for="Address">
    <span asp-validation-for="Address"></span>
    <br />
    <br />
    <label for="Comments">Комментарии</label>
    <input name="Comments">
    <span asp-validation-for="Comments"></span>
    <br />
    <br />
    <button type = "submit" class="btn btn-primary" asp-controller="Basket" asp-action="Success">Оформить заказ</button>
</form>

<br>

<div class="row">
    <div class="col-12">Ваш заказ</div>
</div>
<div class="row">
    <div class="col-3">Наименование</div>
    <div class="col-3">Описание</div>
    <div class="col-3">Количество</div>
    <div class="col-3">Стоимость</div>
    @foreach (var product in ViewBag.Products)
    {
            <div class="col-3">
                <a href="/product/index/@product.Id">@product.Name</a>
            </div>
            <div class="col-3">
                <p>@product.Description</p>
            </div>
            <div class="col-3">
            @product.Count
            </div>
            <div class="col-3">
            @(@product.Cost * @product.Count)
            </div>
    }
</div>
<hr>
<br>
<h6>Итого: @ViewBag.ResultCost</h6>


