@{
	ViewData["Title"] = "Home Page";
}

@model List<Product>

<form method="post">
    <label for="name">Введите имя и фамилию</label>
    <input type="text" name="name" placeholder="Иван Иванов" required>
	<br />
	<label for="number">Введите номер телефона</label>
	<input type="number" name="number" placeholder="+79998885522" required>
	<br />
	<label for="email">Почта</label>
	<input type="email" name="email" placeholder="aaa@aaa.com" required>
	<br />
	<button type = "submit" class="btn btn-primary" asp-controller="Basket" asp-action="Success">Оформить заказ</button>
</form>

<br>

<div class="row">
    <div class="col-12">Ваш заказ</div>
</div>
<div class="row">
    <div class="col-3">Наименование</div>
    <div class="col-3">Описание</div>
    <div class="col-3">Количество</div>
    <div class="col-3">Стоимость</div>
@foreach (var product in Model)
{
		<div class="col-3">
			<a href="/product/index/@product.Id">@product.Name</a>
		</div>
		<div class="col-3">
			<p>@product.Description</p>
		</div>
		<div class="col-3">
			@product.Count
		</div>
		<div class="col-3">
			@(@product.Cost * @product.Count)
		</div>
	}
</div>
<hr>
<br>
<h6>Итого: @Model.Select(x=>x.Cost*x.Count).Sum()</h6>


