@using OnlineShop.DB.Models;
@model Product

<h2>Выберите изображение для @Model.Name</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Загрузить изображение</label>
        <input type="file" name="formFile"/>
    </div>
    <div>
        <button type="submit" asp-area="Admin" asp-controller="Home" asp-action="EditProductImage" asp-route-id="@Model.Id" class="btn btn-success">Изменить</button>
    </div>
</form>
@if (@Model.imageProdPath != null)
{
    <h6>Текущее изображдение для @Model.Name</h6>
    foreach (var image in Model.imageProdPath)
    {
        <div class="row">
            <div class="col-3 card shadow">
                <div class="card-body">
                    <img class="card-img-top col-3" src="image">
                    <a asp-area="Admin" asp-controller="Home" asp-action="DeleteImage" asp-route-productId="@Model.Id" asp-route-imgSrc="image" class="btn btn-danger">Удалить</a> 
                </div>
            </div>
        </div>

    }
}
else
{
            <h2>Нет изображения для @Model.Name</h2>
}