@model UserRegViewModel
<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("Index")
    </div>
    <div class="col-9">
        <h2>Пользователь @Model.Name</h2>
        <hr />
        <br />
        <h5>Имя: @Model.Name</h5>
        <br />
        <h5>Email: @Model.Email</h5>
        <br />
        <h5>Возраст: @Model.Age</h5>
        <br />
        <h5>Номер телефона: @Model.Number</h5>
        <br />
        @if (Model.Role != null)
        {
            <h5>Роль: @Model.Role.Name</h5>
        }
        else
        {
            <h5>Роль не присвоена</h5>
        }
        <br />
        <br />
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Действие
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="EditPassword" asp-route-Id="@Model.UserId">Смена пароля</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="EditUserInfo" asp-route-Id="@Model.UserId">Редактирование данных</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="UserRole" asp-route-Id="@Model.UserId">Права доступа</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить пользователя</a></li>
          </ul>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Удалить пользователя <b>@Model.Name</b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить пользователя <b>@Model.Name</b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <a type="button" class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="DeleteUser" asp-route-Id="@Model.UserId">Удалить</a>
      </div>
    </div>
  </div>
</div>