@model UserRegViewModel

<div class="text-center">
    <h2>Редактирование данных пользователя @Model.Name</h2>
    <form asp-area="Admin" asp-controller="User" asp-action="EditUserInfo">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email">Почта</label><br />
            <input asp-for="Email" value="@Model.Email">
            <span asp-validation-for="Email"></span>
        </div>
            <br />
        <div>
            <label asp-for="Age">Возраст</label><br />
            <input asp-for="Age" value="@Model.Age">
            <span asp-validation-for="Age"></span>
        </div>
            <br />
        <div>
            <label asp-for="Number">Телефон</label><br />
            <input asp-for="Number"  value="@Model.Number">
            <span asp-validation-for="Number"></span>
        </div>   
        <br />
        <br />
            <input type="submit" class="btn btn-dark" value="Обновить данные пользователя" asp-route-name="@Model.Name"/>
    </form>

</div>
